<%
// Define theme palette colors
const themeColors = {
  primaryColor: '#060f1d',
  accentColor: '#00ff7f',
  textColor: '#ffffff',
  backgroundColor: '#5100ae',
  secondaryTextColor: '#616366',
  footerTextColor: '#949da8',
  dividerColor: '#e6e9eb'
};
%>
<%-  %>
<td
  style="
    width: 50%;
    padding: 25px 0px 32px 0px;
    background-color: <%= themeColors.backgroundColor %>;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
  "
>
  <img src="<%= logo %>" width="20" alt="Logo" />
  <span style="position: relative; top: -2px; font-size: 20px"
    ><span style="color: #ffffff"><%= companyName %></span></span
  >
</td>
