<table role="t-header" class="p-2 w-100-per">
  <tr>
    <td>
      <p>
        <img src="https://i.imgur.com/cYfL1Ut.png" width="128" />
      </p>
    </td>
    <td>
      <p class="text-right">
        <a href="#" class="light-box">Login</a>
      </p>
    </td>
  </tr>
</table>
