<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%- include('head.ejs') %>
  <body class="bg-light-primary text-dark-primary m-0 p-0">
    <table role="t-body" class="bg-gradient-primary py-3 px-3">
      <tr>
        <td>
          <table role="t-header" class="p-2 w-100-per">
            <tr>
              <td>
                <p>
                  <img src="https://i.imgur.com/cYfL1Ut.png" width="128" />
                </p>
              </td>
              <td>
                <p class="text-right">
                  <a href="#" class="light-box">Login</a>
                </p>
              </td>
            </tr>
          </table>
          <!-- end table header -->
          <table role="t-main" class="bg-light-secondary py-2 px-3">
            <tr>
              <td>
                <table role="t-section">
                  <tr>
                    <td>
                      <h3 class="text-center">✅</h3>
                      <h1 class="text-center">TFA Code</h1>
                      <p class="text-center primary-box">123456</p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illo aperiam iure beatae ab ipsam harum suscipit animi
                        error, odit temporibus molestiae nesciunt! Cupiditate
                        molestiae nulla libero obcaecati laboriosam, quam vero?
                      </p>
                      <p class="text-center">
                        <a href="#" class="light-box">Log into your account</a>
                      </p>
                    </td>
                  </tr>
                </table>
                <!-- end table main section 1 -->
                <table class="t-section">
                  <tr>
                    <td>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illo aperiam iure beatae ab ipsam harum suscipit animi
                        error, odit temporibus molestiae nesciunt! Cupiditate
                        molestiae nulla libero obcaecati laboriosam, quam vero?
                      </p>
                      <h4 class="text-center pt-3 text-primary divider">
                        Thanks for choosing Elox Pro
                      </h4>
                    </td>
                  </tr>
                </table>
                <!-- end table main section 2 -->
              </td>
            </tr>
          </table>
          <!-- end table main -->
          <table class="table-footer">
            <tr>
              <td>
                <p class="text-muted">Copyright &copy; 2021 Elox Pro</p>
              </td>
            </tr>
          </table>
          <!-- end table footer -->
        </td>
      </tr>
    </table>
    <!-- end table body -->
  </body>
</html>
