<table role="t-main" class="bg-light-secondary py-2 px-3">
  <tr>
    <td>
      <table role="t-section">
        <tr>
          <td>
            <h3 class="text-center">✅</h3>
            <h1 class="text-center">TFA Code</h1>
            <p class="text-center primary-box">123456</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              aperiam iure beatae ab ipsam harum suscipit animi error, odit
              temporibus molestiae nesciunt! Cupiditate molestiae nulla libero
              obcaecati laboriosam, quam vero?
            </p>
            <p class="text-center">
              <a href="#" class="light-box">Log into your account</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- End Section #1 -->
  <tr>
    <td>
      <table class="t-section">
        <tr>
          <td>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              aperiam iure beatae ab ipsam harum suscipit animi error, odit
              temporibus molestiae nesciunt! Cupiditate molestiae nulla libero
              obcaecati laboriosam, quam vero?
            </p>
            <h4 class="text-center pt-3 text-primary divider">
              Thanks for choosing Elox Pro
            </h4>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- End Section #2 -->
</table>
